{% extends "base.html" %}
{% block titulo %}Inicio{% endblock %}
{% block contenido %}
<div  style="text-align:center; padding: 5rem 1.5rem 4rem;">
   <p style="font-size:0.85rem; text-transform:uppercase; letter-spacing:0.1em; color:var(--naranja); font-weight:600; margin-bottom:1rem;">Universidad de Medellín</p>
  <h1 style="font-family:'Syne',sans-serif; font-size:3.5rem; font-weight:800; line-height:1.1; margin-bottom:1rem;">
    Come rico,<br>pide fácil.
  </h1>



    <p style="color:var(--gris); font-size:1.1rem; max-width:400px; margin:0 auto 2.5rem;">FoodU conecta estudiantes con los mejores puestos de comida del campus.</p>
    <div style="display:flex; gap:1rem; justify-content:center; flex-wrap:wrap;">
    <a href="{{ url_for('login_usuario') }}" style="background:var(--naranja); color:white; padding:0.85rem 2rem; border-radius:12px; text-decoration:none; font-weight:500; font-size:1rem;">Soy estudiante →</a>
    <a href="{{ url_for('login_vendedor') }}" style="background:white; color:var(--oscuro); padding:0.85rem 2rem; border-radius:12px; text-decoration:none; font-weight:500; font-size:1rem; border:1.5px solid var(--borde);">Soy vendedor</a>
    </div>
</div>


<div style="max-width:900px; margin:0 auto; padding:0 1.5rem 4rem;">
  <div style="display:grid; grid-template-columns:repeat(auto-fit,minmax(220px,1fr)); gap:1rem;">
    <div class="card" style="text-align:center;">
      <div style="font-size:2rem; margin-bottom:0.5rem;">🍟</div>
      <h2 style="font-size:1rem; margin-bottom:0.3rem;">Pide en segundos</h2>
      <p style="color:var(--gris); font-size:0.875rem;">Elige tus productos favoritos y haz tu pedido con un clic.</p>
    </div>
    <div class="card" style="text-align:center;">
      <div style="font-size:2rem; margin-bottom:0.5rem;">⏱️</div>
      <h2 style="font-size:1rem; margin-bottom:0.3rem;">Tiempo estimado</h2>
      <p style="color:var(--gris); font-size:0.875rem;">Sabe cuánto esperar antes de ir a recoger tu pedido.</p>
    </div>
    <div class="card" style="text-align:center;">
      <div style="font-size:2rem; margin-bottom:0.5rem;">⭐</div>
      <h2 style="font-size:1rem; margin-bottom:0.3rem;">Califica y recomienda</h2>
      <p style="color:var(--gris); font-size:0.875rem;">Ayuda a otros estudiantes calificando a los vendedores.</p>
    </div>
  </div>
</div>
{% endblock %}