{% extends "base.html" %}
{% block titulo %}Iniciar sesión{% endblock %}
{% block contenido %}
<div class="contenedor-sm">
  <div style="margin-top:2rem;">
    <h1>Bienvenido de nuevo</h1>
    <p class="subtitulo">Inicia sesión para pedir comida</p>
    <div class="card">
       <form method="POST">
           <div class="campo">
          <label>Nombre de usuario</label>
          <input type="text" name="nombre" placeholder="Tu nombre" required autofocus>
        </div>
        <div class="campo">
          <label>Contraseña</label>
          <input type="password" name="contrasena" placeholder="••••••••" required>
        </div>
      </form>
    </div>
  </div>
</div>
{% endblock %}