{% extends "base.html" %}
{% block titulo %}Iniciar sesión{% endblock %}
{% block contenido %}
<div class="contenedor-sm">
  <div style="margin-top:2rem;">
    <h1>Bienvenido de nuevo</h1>
    <p class="subtitulo">Inicia sesión para pedir comida</p>
    <div class="card">
       <form method="POST">
           <div class="campo">
          <label>Nombre de usuario</label>
          <input type="text" name="nombre" placeholder="Tu nombre" required autofocus>
        </div>
        <div class="campo">
          <label>Contraseña</label>
          <input type="password" name="contrasena" placeholder="••••••••" required>
        </div>
           <button type="submit" class="btn btn-primary">Iniciar sesión</button>
      </form>
    </div>
      <p class="texto-centro texto-gris" style="margin-top:1rem; font-size:0.9rem;">
      ¿No tienes cuenta?
      <a href="{{ url_for('registro_usuario') }}" class="texto-naranja" style="text-decoration:none; font-weight:500;">Regístrate aquí</a>
      </p>
  </div>
</div>
{% endblock %}